/*Feature*/

.features.list {
  display: flex;
}

.list-item {
  min-width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features.list .features.title {
  @include font($fw: 700);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.features.list .text {
  color: titleColor;
  font-size: 14px;
  line-height: 1.71;
}

.features-icon {
  @extend %align;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: $backgroundColor;
  border-radius: 4px;
  margin-bottom: 30px;
}
