/*footer logo*/

.logo-footer {
  color: $whiteColor;
  font-family: $secondFont;
  @include font(26px, 700, 1.19);
  letter-spacing: 0.03em;

  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
}
