/* Subscribe */

.subscribe-form {
  margin: 0 0 0 93px;
}
.footer-form {
  display: flex;
}

.footer-input {
  height: 50px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: $backgroundHero;
  color: $whiteColor;
  padding: 15px 16px;
  margin-right: 12px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: $accentColor;
  }
}

.footer-form input::placeholder {
  font-family: $mainFont;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.subscribe-text {
  color: $whiteColor;
  font-family: $mainFont;
  @include font($fw: 700);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 20px;
  display: flex;
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.btn-footer-submit {
  @extend %align;
  @include font(16px, 700, 1.87);
  padding: 10px 29px;
  color: $whiteColor;
  background-color: $accentColor;
  font-family: inherit;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $btnFormColor;
  }
}
