$primaryColor: #212121;
$logoColor: #000000;
$titleColor: #757575;
$accentColor: #2196f3;
$whiteColor: #ffffff;
$backgroundColor: #f5f4fa;
$backgroundHero: #2f303a;
$textFooterColor: rgba(255, 255, 255, 0.6);
$borderColor: #ececec;
$lineColor: #eeeeee;
$iconColor: #afb1b8;
$btnFormColor: #188ce8;
$mainFont: "Roboto", sans-serif;
$secondFont: "Raleway", sans-serif;